.model-content {
  position: relative;
  margin-top: -140px;
}

.model-images {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 141;
}

.model-boy-image {
  position: relative;
  z-index: 2;
}

.model-images .model-ciecle-image {
  position: absolute;
  /* height: 100%; */
  z-index: 1;
  bottom: 0;
}

.elemebt_section {
  position: relative;
}

.element1 {
  position: absolute;
  left: -5%;
  top: -11%;
  z-index: -1;
}

.element2 {
  position: absolute;
  right: 4%;
  top: -15%;
  z-index: -1;
}

.model_text {
  position: absolute;
  bottom: 10%;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  width: fit-content;
  animation: scroll-left 150s linear infinite;
}

.marquee-content span {
  white-space: nowrap;
  font-family: Syne;
  font-weight: 900;
  font-size: 52px;
  text-transform: uppercase;

  color: #1D1D1D;
  -webkit-text-stroke: 2px #1D1D1D;
  padding-right: 50px;
  /* space between two spans */
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.product_logos_section {
  display: flex;
  justify-content: center;
  /* margin: 80px 0; */
}

.round_circle {
  position: relative;
  width: 80%;
  /* Full circle width */
  height: 500px;
  /* Half of circle height */
  overflow: visible;
}

/* All images: round style */
.round_circle .circle_container {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.circle_box {
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px;
  border-radius: 15px;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle_box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #686868;
  margin-top: 10px;
}


.circle_box img {
  border-radius: 100px;
  max-height: 60px;
  max-width: 60px;
}

/* TOP HALF-CIRCLE POSITIONS FOR 6 IMAGES */
.round_circle .circle_container:nth-child(1) {
  top: 110%;
  left: 6%;
}

.round_circle .circle_container:nth-child(2) {
  top: 60%;
  left: 20%;
}

.round_circle .circle_container:nth-child(3) {
  top: 40%;
  left: 50%;
}

.round_circle .circle_container:nth-child(4) {
  top: 60%;
  left: 80%;
}

.round_circle .circle_container:nth-child(5) {
  top: 110%;
  left: 94%;
}

.round_circle .circle_container:nth-child(6) {
  top: 120%;
  left: 50%;
}

/* hide if only top half wanted */

.circle-wrapper {
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: visible !important;
  /* ← MOST IMPORTANT FIX */
  z-index: 10;
}

.circle {
  width: 100%;
  height: 100%;
  position: relative;
}

.circle-item {
  position: absolute;
  top: 90%;
  left: 44%;
  transform-origin: center -180px;
  /* radius match */
  transition: transform 0.5s ease;
}


.item-card {
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.item-card img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.item-card p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.controls {
  margin-top: 20px;
  text-align: center;
}

.controls button {
  padding: 8px 12px;
  margin: 0 10px;
  font-size: 20px;
  border-radius: 10px;
}



@media only screen and (max-width:572px) {
  .circle_box {
    width: 70px;
    height: 70px;
    padding: 5px;
  }

  .round_circle .circle_container {
    width: 70px;
    height: 70px;
  }

  .circle_box p {
    font-size: 10px;
    line-height: 11px;
    margin-top: 5px;
  }

  .element1,
  .element2 {
    display: none;
  }

  .marquee-content span {
    font-size: 36px;
  }

  .round_circle img {
    width: 40px;
    height: 40px;
  }

  .round_circle {
    width: 100%;
    height: 200px;
  }

  .model-content {
    position: relative;
    margin-top: -40px;
  }

  /* TOP HALF-CIRCLE POSITIONS FOR 6 IMAGES */
  .round_circle .circle_container:nth-child(1) {
    top: 104%;
    left: 10%;
  }

  .round_circle .circle_container:nth-child(2) {
    top: 60%;
    left: 23%;
  }

  .round_circle .circle_container:nth-child(3) {
    top: 40%;
    left: 50%;
  }

  .round_circle img:nth-child(4) {
    top: 60%;
    left: 77%;
  }

  .round_circle .circle_container:nth-child(5) {
    top: 104%;
    left: 90%;
  }

  .round_circle .circle_container:nth-child(6) {
    top: 120%;
    left: 50%;
  }
}

@media (min-width:573px) and (max-width:768px) {

  .element1,
  .element2 {
    display: none;
  }

  .marquee-content span {
    font-size: 36px;
  }

  .round_circle img {
    width: 80px;
    height: 80px;
  }

  .round_circle {
    width: 100%;
    height: 200px;
  }

  .model-content {
    position: relative;
    margin-top: -40px;
  }

  /* TOP HALF-CIRCLE POSITIONS FOR 6 IMAGES */
  .round_circle .circle_container:nth-child(1) {
    top: 115%;
    left: 10%;
  }

  .round_circle .circle_container:nth-child(2) {
    top: 60%;
    left: 23%;
  }

  .round_circle .circle_container:nth-child(3) {
    top: 40%;
    left: 50%;
  }

  .round_circle .circle_container:nth-child(4) {
    top: 60%;
    left: 77%;
  }

  .round_circle .circle_container:nth-child(5) {
    top: 115%;
    left: 90%;
  }

  .round_circle .circle_container:nth-child(6) {
    top: 120%;
    left: 50%;
  }
}

@media (min-width:769px) and (max-width:992px) {

  .element1,
  .element2 {
    display: none;
  }

  .marquee-content span {
    font-size: 36px;
  }

  .round_circle img {
    width: 100px;
    height: 100px;
  }

  .round_circle {
    width: 100%;
    height: 240px;
  }

  .model-content {
    position: relative;
    margin-top: -40px;
  }

  /* TOP HALF-CIRCLE POSITIONS FOR 6 IMAGES */
  .round_circle .circle_container:nth-child(1) {
    top: 140%;
    left: 10%;
  }

  .round_circle .circle_container:nth-child(2) {
    top: 65%;
    left: 23%;
  }

  .round_circle .circle_container:nth-child(3) {
    top: 40%;
    left: 50%;
  }

  .round_circle .circle_container:nth-child(4) {
    top: 65%;
    left: 77%;
  }

  .round_circle .circle_container:nth-child(5) {
    top: 140%;
    left: 90%;
  }

  .round_circle .circle_container:nth-child(6) {
    top: 120%;
    left: 50%;
  }
}

@media (min-width:993px) and (max-width:1200px) {

  .element1,
  .element2 {
    display: none;
  }

  .marquee-content span {
    font-size: 36px;
  }

  .round_circle img {
    width: 100px;
    height: 100px;
  }

  .round_circle {
    width: 100%;
    height: 240px;
  }

  .model-content {
    position: relative;
    margin-top: -40px;
  }

  /* TOP HALF-CIRCLE POSITIONS FOR 6 IMAGES */
  .round_circle .circle_container:nth-child(1) {
    top: 140%;
    left: 10%;
  }

  .round_circle .circle_container:nth-child(2) {
    top: 65%;
    left: 23%;
  }

  .round_circle .circle_container:nth-child(3) {
    top: 40%;
    left: 50%;
  }

  .round_circle .circle_container:nth-child(4) {
    top: 65%;
    left: 77%;
  }

  .round_circle .circle_container:nth-child(5) {
    top: 140%;
    left: 90%;
  }

  .round_circle .circle_container:nth-child(6) {
    top: 120%;
    left: 50%;
  }
}