body {
    margin: 0;
    padding: 0;
    background-color: #131313;
}

.fun_zone_card {
    /* background-color: #ffffff; */
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    transform: translateY(0px);
    margin-bottom: 20px;
}

.fun_zone_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.banner_fun_row {
    margin: 40px 0px;
}

.fun_zone_card {
    position: relative;
    height: 220px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.fun_zone_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fun_zone_card h2 {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0 0px;
}

/* .fun_zone_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
} */

.fun_zone_bg {
    background-color: #131313;
    min-height: 100vh;
}

.fun_zone {
    padding: 40px 0 20px;
    text-align: center;
    overflow: hidden;
}

@media (max-width:576px) {

    .fun_zone_card {
        height: auto;
    }

    .fun_zone_card h2 {
        font-size: 16px;
    }

}